<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Robin31\UnRequireJS\Plugin\RequireJs\Config\File\Collector\AggregatedPlugin">
        <arguments>
            <argument name="unloaderList" xsi:type="array">
                <item name="MSP_ReCaptcha_unloader" xsi:type="object">Robin31\UnRequireJS\Model\MSP\ReCaptchaUnloader</item>
                <item name="Amazon_Payment_unloader" xsi:type="object">Robin31\UnRequireJS\Model\Amazon\PaymentUnloader</item>
                <item name="Amazon_Login_unloader" xsi:type="object">Robin31\UnRequireJS\Model\Amazon\LoginUnloader</item>
            </argument>
        </arguments>
    </type>
</config>
