<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\RequireJs\Config\File\Collector\Aggregated">
        <plugin sortOrder="1" name="robin31UnRequireJSAggregated"
                type="Robin31\UnRequireJS\Plugin\RequireJs\Config\File\Collector\AggregatedPlugin"/>
    </type>
    <type name="Magento\Customer\Block\Account\AuthenticationPopup">
        <plugin sortOrder="1000" name="robin31UnRequireJSAuthenticationPopup"
                type="Robin31\UnRequireJS\Plugin\Block\Account\AuthenticationPopupPlugin"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Totals">
        <plugin sortOrder="1" name="robin31UnRequireJSTotals"
                type="Robin31\UnRequireJS\Plugin\Block\Cart\TotalsPlugin"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <plugin sortOrder="1" name="robin31UnRequireJSOnepage" type="Robin31\UnRequireJS\Plugin\Block\OnepagePlugin"/>
    </type>
    <type name="Klarna\Kp\Model\KpConfigProvider">
        <plugin sortOrder="1" name="robin31UnRequireJSKpConfigProvider"
                type="Robin31\UnRequireJS\Plugin\Model\KpConfigProviderPlugin"/>
    </type>
</config>